<div class="content" ng-class="{'about': Page.name==='History'}">
  <div ng-if="!Page.dataLoaded" class="vertical-table">
    <div class="vertical-table-cell">
      <img src="./images/loading.gif" alt="Loading Circle until data is received">
    </div>
  </div>
  <div ng-if="Page.dataLoaded">
    <div class="banner">
      <div class="top-bar"></div>
      <h1>{{Page.name}}</h1>
    </div>
    <div class="paragraph-container">
      <h1>{{Page.content.subtitle}}</h1>
      <p ng-repeat="paragraph in Page.content.paragraphs track by $index">{{paragraph}}</p>
    </div>
  </div>
</div>
