nav.navbar
  .row.colors
    .col-xs-3.red
    .col-xs-6.turquoise
    .col-xs-3.yellow
  .row.nav-links
    ul.nav.navbar-nav
      li
        a.logo-anchor(title='Home', ui-sref='landing.Home', href='')
          img.logo(src='./images/circle.png', alt='image to represent logo')
      li.dropdown
        a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          | About Us
          span.caret
        ul.dropdown-menu
          li
            a(title='History', ui-sref='landing.History', href='') History
